.hidden {
  display: none;
}
*{
  font-family:"YD Gothic 500";
  box-sizing: border-box;
}
body{
  position: fixed;
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(10,1fr);
  width: 100vw;
  height: 100vh;
}

#login-container{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  grid-area: 1/1/2/9;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-form{
  height: 100%;
}
#login-form *{
  font-family: "PerihelionCondBB-Italic",Helvetica;
  font-size: 16px;
}
#login-form input{
  border: 0;
  padding: 16px;
  height: 100%;
}
#login-form input:focus{
  outline: 0;
}
#login-form button{
  border: 0;
  background-color: #ffffff00;
  font-weight: bold;
}
#greeting{
  font-size: 24px;
  padding-left: 16px;
  letter-spacing: 1px;
  font-family: "PerihelionCondBB",Helvetica;
}
#weather{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  grid-area: 2/1/3/9;
}
#weather span{
  font-family: "PerihelionCondBB-Italic",Helvetica;
  font-size: 18px;
}
#weather .city{
  color: rgba(153, 153, 153, 0.83);
}
#clock-container{
height: 100%;
  grid-area: 2/7/3/9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#clock{
  margin: 0;
  font-size: 18px;
    padding-right: 16px;
    text-align: right;
    font-family: "PerihelionCondBB-Italic",Helvetica;
}

#bg-img{
  border-right: 1px solid #000;
grid-area: 3/1/11/6;
}
#bg-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon img{
  display: inline-block;
  width: 40px;
  border-radius: 100px;
}
#todo-list{
border-bottom: 1px solid #000;
grid-area: 3/6/10/9;
list-style: none;
margin: 0;
padding: 0;
overflow: auto;
}
#todo-list .list-title{
  font-weight: bold;
  background-color: rgb(115, 249, 78);
  position: fixed;
}
#todo-list li button{
  border: 0;
  background-color: #00000000;
  font-size: 10px;
}
#todo-list li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px;
  border-bottom: 1px solid #000;

  opacity: 1;
  transition: opacity 0.5s ease;
}
#todo-list li:nth-child(2){
  margin-top: 49px;
}

#todo-form{
grid-area: 10/6/11/9;
width: 100%;
height: 100%;
}
#todo-form input{
  padding: 16px;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
#todo-form input:focus{
outline: 0;
}
#lunch{
  display: none;
}
